/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/AutoMapper.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/PersonagemAnimado.API.deps.json
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/PersonagemAnimado.API.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/PersonagemAnimado.API.exe
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/PersonagemAnimado.API.pdb
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/PersonagemAnimado.API.runtimeconfig.dev.json
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/PersonagemAnimado.API.runtimeconfig.json
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/PersonagemAnimado.Application.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/PersonagemAnimado.Application.pdb
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/PersonagemAnimado.CrossCutting.IoC.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/PersonagemAnimado.CrossCutting.IoC.pdb
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/PersonagemAnimado.Data.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/PersonagemAnimado.Data.pdb
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/PersonagemAnimado.Domain.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/PersonagemAnimado.Domain.pdb
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.SqlServer.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.CommandLine.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.FileExtensions.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Json.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DiagnosticAdapter.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Physical.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileSystemGlobbing.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/System.Composition.AttributedModel.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/System.Composition.Convention.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/System.Composition.Hosting.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/System.Composition.Runtime.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/System.Composition.TypedParts.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/appsettings.Development.json
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/appsettings.json
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/dotnet-aspnet-codegenerator-design.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Backend/PersonagemAnimado.API/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/Backend/PersonagemAnimado.API/obj/PersonagemAnimado.API.csproj.nuget.dgspec.json
/Backend/PersonagemAnimado.API/obj/PersonagemAnimado.API.csproj.nuget.g.props
/Backend/PersonagemAnimado.API/obj/PersonagemAnimado.API.csproj.nuget.g.targets
/Backend/PersonagemAnimado.API/obj/Debug/netcoreapp3.1/PersonagemAnimado.API.AssemblyInfo.cs
/Backend/PersonagemAnimado.API/obj/Debug/netcoreapp3.1/PersonagemAnimado.API.AssemblyInfoInputs.cache
/Backend/PersonagemAnimado.API/obj/Debug/netcoreapp3.1/PersonagemAnimado.API.MvcApplicationPartsAssemblyInfo.cache
/Backend/PersonagemAnimado.API/obj/Debug/netcoreapp3.1/PersonagemAnimado.API.MvcApplicationPartsAssemblyInfo.cs
/Backend/PersonagemAnimado.API/obj/Debug/netcoreapp3.1/PersonagemAnimado.API.RazorTargetAssemblyInfo.cache
/Backend/PersonagemAnimado.API/obj/Debug/netcoreapp3.1/PersonagemAnimado.API.assets.cache
/Backend/PersonagemAnimado.API/obj/Debug/netcoreapp3.1/PersonagemAnimado.API.csproj.CopyComplete
/Backend/PersonagemAnimado.API/obj/Debug/netcoreapp3.1/PersonagemAnimado.API.csproj.CoreCompileInputs.cache
/Backend/PersonagemAnimado.API/obj/Debug/netcoreapp3.1/PersonagemAnimado.API.csproj.FileListAbsolute.txt
/Backend/PersonagemAnimado.API/obj/Debug/netcoreapp3.1/PersonagemAnimado.API.csprojAssemblyReference.cache
/Backend/PersonagemAnimado.API/obj/Debug/netcoreapp3.1/PersonagemAnimado.API.dll
/Backend/PersonagemAnimado.API/obj/Debug/netcoreapp3.1/PersonagemAnimado.API.exe
/Backend/PersonagemAnimado.API/obj/Debug/netcoreapp3.1/PersonagemAnimado.API.genruntimeconfig.cache
/Backend/PersonagemAnimado.API/obj/Debug/netcoreapp3.1/PersonagemAnimado.API.pdb
/Backend/PersonagemAnimado.API/obj/Debug/netcoreapp3.1/staticwebassets/PersonagemAnimado.API.StaticWebAssets.Manifest.cache
/Backend/PersonagemAnimado.API/obj/Debug/netcoreapp3.1/staticwebassets/PersonagemAnimado.API.StaticWebAssets.xml
/Backend/PersonagemAnimado.API/obj/project.assets.json
/Backend/PersonagemAnimado.API/obj/project.nuget.cache
/Backend/PersonagemAnimado.Application/bin/Debug/netcoreapp3.1/PersonagemAnimado.Application.deps.json
/Backend/PersonagemAnimado.Application/bin/Debug/netcoreapp3.1/PersonagemAnimado.Application.dll
/Backend/PersonagemAnimado.Application/bin/Debug/netcoreapp3.1/PersonagemAnimado.Application.pdb
/Backend/PersonagemAnimado.Application/bin/Debug/netcoreapp3.1/PersonagemAnimado.Domain.dll
/Backend/PersonagemAnimado.Application/bin/Debug/netcoreapp3.1/PersonagemAnimado.Domain.pdb
/Backend/PersonagemAnimado.Application/obj/PersonagemAnimado.Application.csproj.nuget.dgspec.json
/Backend/PersonagemAnimado.Application/obj/PersonagemAnimado.Application.csproj.nuget.g.props
/Backend/PersonagemAnimado.Application/obj/PersonagemAnimado.Application.csproj.nuget.g.targets
/Backend/PersonagemAnimado.Application/obj/Debug/netcoreapp3.1/PersonagemAnimado.Application.AssemblyInfo.cs
/Backend/PersonagemAnimado.Application/obj/Debug/netcoreapp3.1/PersonagemAnimado.Application.AssemblyInfoInputs.cache
/Backend/PersonagemAnimado.Application/obj/Debug/netcoreapp3.1/PersonagemAnimado.Application.assets.cache
/Backend/PersonagemAnimado.Application/obj/Debug/netcoreapp3.1/PersonagemAnimado.Application.csproj.CopyComplete
/Backend/PersonagemAnimado.Application/obj/Debug/netcoreapp3.1/PersonagemAnimado.Application.csproj.CoreCompileInputs.cache
/Backend/PersonagemAnimado.Application/obj/Debug/netcoreapp3.1/PersonagemAnimado.Application.csproj.FileListAbsolute.txt
/Backend/PersonagemAnimado.Application/obj/Debug/netcoreapp3.1/PersonagemAnimado.Application.csprojAssemblyReference.cache
/Backend/PersonagemAnimado.Application/obj/Debug/netcoreapp3.1/PersonagemAnimado.Application.dll
/Backend/PersonagemAnimado.Application/obj/Debug/netcoreapp3.1/PersonagemAnimado.Application.pdb
/Backend/PersonagemAnimado.Application/obj/project.assets.json
/Backend/PersonagemAnimado.Application/obj/project.nuget.cache
/Backend/PersonagemAnimado.Domain/bin/Debug/netcoreapp3.1/PersonagemAnimado.Domain.deps.json
/Backend/PersonagemAnimado.Domain/bin/Debug/netcoreapp3.1/PersonagemAnimado.Domain.dll
/Backend/PersonagemAnimado.Domain/bin/Debug/netcoreapp3.1/PersonagemAnimado.Domain.pdb
/Backend/PersonagemAnimado.Domain/obj/PersonagemAnimado.Domain.csproj.nuget.dgspec.json
/Backend/PersonagemAnimado.Domain/obj/PersonagemAnimado.Domain.csproj.nuget.g.props
/Backend/PersonagemAnimado.Domain/obj/PersonagemAnimado.Domain.csproj.nuget.g.targets
/Backend/PersonagemAnimado.Domain/obj/Debug/netcoreapp3.1/PersonagemAnimado.Domain.AssemblyInfo.cs
/Backend/PersonagemAnimado.Domain/obj/Debug/netcoreapp3.1/PersonagemAnimado.Domain.AssemblyInfoInputs.cache
/Backend/PersonagemAnimado.Domain/obj/Debug/netcoreapp3.1/PersonagemAnimado.Domain.assets.cache
/Backend/PersonagemAnimado.Domain/obj/Debug/netcoreapp3.1/PersonagemAnimado.Domain.csproj.CoreCompileInputs.cache
/Backend/PersonagemAnimado.Domain/obj/Debug/netcoreapp3.1/PersonagemAnimado.Domain.csproj.FileListAbsolute.txt
/Backend/PersonagemAnimado.Domain/obj/Debug/netcoreapp3.1/PersonagemAnimado.Domain.dll
/Backend/PersonagemAnimado.Domain/obj/Debug/netcoreapp3.1/PersonagemAnimado.Domain.pdb
/Backend/PersonagemAnimado.Domain/obj/project.assets.json
/Backend/PersonagemAnimado.Domain/obj/project.nuget.cache

/Backend/PersonagemAnimado.Infraestrutura/bin/Debug/netcoreapp3.1/PersonagemAnimado.Infraestrutura.deps.json
/Backend/PersonagemAnimado.Infraestrutura/bin/Debug/netcoreapp3.1/PersonagemAnimado.Infraestrutura.dll
/Backend/PersonagemAnimado.Infraestrutura/bin/Debug/netcoreapp3.1/PersonagemAnimado.Infraestrutura.pdb
/Backend/PersonagemAnimado.Infraestrutura/obj/PersonagemAnimado.Infraestrutura.csproj.nuget.dgspec.json
/Backend/PersonagemAnimado.Infraestrutura/obj/PersonagemAnimado.Infraestrutura.csproj.nuget.g.props
/Backend/PersonagemAnimado.Infraestrutura/obj/PersonagemAnimado.Infraestrutura.csproj.nuget.g.targets
/Backend/PersonagemAnimado.Infraestrutura/obj/Debug/netcoreapp3.1/PersonagemAnimado.Infraestrutura.AssemblyInfo.cs
/Backend/PersonagemAnimado.Infraestrutura/obj/Debug/netcoreapp3.1/PersonagemAnimado.Infraestrutura.AssemblyInfoInputs.cache
/Backend/PersonagemAnimado.Infraestrutura/obj/Debug/netcoreapp3.1/PersonagemAnimado.Infraestrutura.assets.cache
/Backend/PersonagemAnimado.Infraestrutura/obj/Debug/netcoreapp3.1/PersonagemAnimado.Infraestrutura.csproj.CoreCompileInputs.cache
/Backend/PersonagemAnimado.Infraestrutura/obj/Debug/netcoreapp3.1/PersonagemAnimado.Infraestrutura.csproj.FileListAbsolute.txt
/Backend/PersonagemAnimado.Infraestrutura/obj/Debug/netcoreapp3.1/PersonagemAnimado.Infraestrutura.dll
/Backend/PersonagemAnimado.Infraestrutura/obj/Debug/netcoreapp3.1/PersonagemAnimado.Infraestrutura.pdb
/Backend/PersonagemAnimado.Infraestrutura/obj/project.assets.json
/Backend/PersonagemAnimado.Infraestrutura/obj/project.nuget.cache
