<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <img src="../../assets/logotipo-de-brinquedos-e-desenhos-animados_7894-65-removebg-preview.png"
                 width="50" height="50">
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="generos">Gêneros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="filmes">Filmes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>