<form
  id="formPersonagem"
  [formGroup]="form"
  class="row g-3 needs-validation"
  novalidate
  class ="{{genero}}"
>
  <div class="col-md-8 " style="text-align: start;">
    <label for="nome" class="form-label">Nome do Personagem</label>
    <input
      type="text"
      class="form-control"
      id="nome"
      placeholder="Nome do filme"
      formControlName="nome"
      [ngClass]="{ 'is-invalid': submitted && hasError('nome') }"
    />
    <div
      class="invalid-feedback"
      *ngIf="hasError('nome') && hasError('nome')['required']"
    >
      Por favor informe um nome de um personagem
    </div>
    <br />
    <div class="col-md-8" style="text-align: start">
      <label for="genero" class="form-label">Gênero do personagem</label>
      <select
        type="text"
        class="form-control"
        id="genero"
        placeholder="Genero do filme"
        formControlName="genero"
      >
        <option value="feminino">Feminino</option>
        <option value="masculino">Masculino</option>
        <option value="outro">Outro</option>
      </select>
    </div>
    <br />
    <div class="col-md-12">
      <label for="ano" class="form-label">Poderes</label>
      <input
        type="text"
        class="form-control"
        id="poderes"
        placeholder="Poderes"
        formControlName="poderes"
      />
    </div>
    <br />
    <div class="col-md-12 ">
      <label for="descricao" class="form-label">Descrição</label>
      <textarea
        style="resize: none; display: flex; text-align: start" rows="3" cols="3"
        type="text"
        size="100"
        class="form-control"
        id="descricao"
        placeholder="Descricao do filme"
        formControlName="descricao"
        [ngClass]="{ 'is-invalid': submitted && hasError('genero') }"
      ></textarea>
      <div
        class="invalid-feedback"
        *ngIf="hasError('descricao') && hasError('descricao')['required']"
      >
        Por favor informe uma descrição do personagem
      </div>
    </div>
    <br />
    <div style="margin-top: 1%; text-align: end">
      <button
        type="submit"
        class="btn btn-primary"
        style="margin-right: 15px"
        (click)="onSubmit()"
      >
        Salvar
      </button>
      <button
        type="button"
        class="btn btn-danger"
        style="margin-right: 15px"
        (click)="onCancel()"
      >
        Cancelar
      </button>
    </div>
  </div>
</form>
