#formPersonagem {
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 22%;
  margin: auto;
}

#formPersonagem.div {
  margin: auto;
  width: 50%;
  background-color: #fff;
  padding: 20px;
  border-radius: 3px;
  border: 1px solid lightgray;
}

.romance{
  background-color: palevioletred !important;
  //background: #FFFFFF url("pasta/Imagem.jpg") no-repeat right top fixed;
}

.comedia{
  //azul

}

.aventura{
//verde
}

.terror{
  //cinza escuro
}

