 <!-- Footer -->
 <footer class="footer bg-dark text-white">
    <div class="container fluid" style="margin-top: 10px;">
        <div class="row">

            <div >
                <h4>FilmeRock</h4>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p>
                    One website for you know more about the wonderful world of movies.
                </p>
            </div>

        </div>
    </div>
    <!-- Copyright-->
    <div class="container-fluid">
        <p class="text-center m-0 py-1">
            © 2017 Copyright <a href="https://getbootstrap.com/" class="text-white">Carla's Production</a>
        </p>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
