<form
id="formFilme"
  [formGroup]="form"
  class="row g-3 needs-validation"
  novalidate
>
  <div class="col-md-7">
    <label for="nome" class="form-label">Nome do filme</label>
    <input
      type="text"
      class="form-control"
      id="nome"
      placeholder="Nome do filme"
      formControlName="nome"
      [ngClass]="{ 'is-invalid': submitted && hasError('nome') }"
    />
    <div
      class="invalid-feedback"
      *ngIf="hasError('nome') && hasError('nome')['required']"
    >
      Por favor informe um nome de um filme
    </div>
    <br />
    <div class="col-md-7" >
      <label for="genero" class="form-label">Genero</label>
      <select
        type="text"
        class="form-control"
        id="genero"
        placeholder="Genero do filme"
        formControlName="genero"
        [ngClass]="{ 'is-invalid': submitted && hasError('genero') }"
      >
      <option value="romance">Romance</option>
      <option value="comedia">Comédia</option>
      <option value="Aventura">Aventura</option>
    </select>
      <div class="invalid-feedback" *ngIf="hasError('genero') && hasError('genero')['required']">Por favor informe um genero de um filme</div>
    </div>
    <br />
    <div class="col-md-4">
      <label for="ano" class="form-label">Ano</label>
      <input
        type="number"
        class="form-control"
        id="ano"
        placeholder="Ano do filme"
        formControlName="ano"
      />
    </div>
    <br />
    <div class="col-md-7">
      <label for="descricao" class="form-label">Descricao</label>
      <textarea style="resize: none; display: flex;"
        type="text"
        size="100"
        class="form-control"
        id="descricao"
        placeholder="Descricao do filme"
        formControlName="descricao"
        [ngClass]="{ 'is-invalid': submitted && hasError('genero') }"
        ></textarea>
      <div class="invalid-feedback" *ngIf="hasError('descricao') && hasError('descricao')['required']">Por favor informe uma descrição do filme</div>
    </div>
    <br />
    <div style="margin-top: 1%; text-align: end;">
      <button type="submit" class="btn btn-primary"style="margin-right: 15px;" (click)="onSubmit()">
        Salvar
      </button>
      <button type="button" class="btn btn-dafault"style="margin-right: 15px;" (click)="onCancel()">
        Cancelar
      </button>
    </div>
  </div>
</form>
