<div id="tabelaFilme" class="card">
    <div class="card-header" style="padding-top: 8%;">
        <div class="float-left">
            <h4>Lista de Filmes</h4>
        </div>
        <div class="float-right">
          <a class="btn btn-primary" type="button" href="/adicionarfilme">Adicionar</a>
            <!-- <button type="button" class="btn btn-primary" [routerLink]="['adicionar-filme']"
              routerLinkActive="active" >Adicionar</button> -->
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover" *ngIf="filmes$ | async as filmes; else loading">
            <thead>
                <tr>
                    <th>Filme</th>
                    <th>Gênero</th>
                    <th>Descrição</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of filmes">
                    <td>{{item.nome}}</td>
                    <td>{{item.genero}}</td>
                    <td>{{item.descricao}}</td>
                    <td>
                        <span class="float-right">
                            <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit(item.id)">Atualizar</button>
                            <button class="btn btn-outline-danger mb-1 btn-sm">Remover</button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <<ng-template #loading>
            <div *ngIf="error$ | async; else loadingNoError">
                Não há nenhum filme cadastrado. Favor cadastrar um novo filme.
            </div>
            <<ng-template #loadingNoError>
            <span> Carregando filmes... </span>
            </ng-template>
        </ng-template>
    </div>
</div>
