<div id="tabelaFilme" class="card">
  <div class="card-header" style="padding-top: 8%">
    <div class="float-left">
      <h4>Lista de Filmes</h4>
    </div>
    <div class="float-right">
      <a class="btn btn-primary" type="button" href="/adicionarfilme"
        >Adicionar</a
      >
    </div>
  </div>
  <div class="card-body">
    <table
      class="table table-hover"
      *ngIf="filmes$ | async as filmes; else loading"
    >
      <thead>
        <tr>
          <th>Filme</th>
          <th>Gênero</th>
          <th>Descrição</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filmes">
          <td>{{ item.nome }}</td>
          <td>{{ item.genero }}</td>
          <td>{{ item.descricao }}</td>
          <td>
            <span class="float-right">
              <button
                class="btn btn-outline-warning mb-1 btn-sm"
                (click)="onEdit(item.id)"
              >
                Atualizar
              </button>
              <button
                class="btn btn-outline-danger mb-1 btn-sm"
                (click)="onDelete(item.id)"
              >
                Remover
              </button>
              <button
                class="btn btn-outline-secondary mb-1 btn-sm {{ item.genero }}"
                (click)="onAdicionarPersonagem(item.id)"
              >
                Adicionar personagem do filme
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <<ng-template #loading>
      <div *ngIf="error$ | async; else loadingNoError">
        Não há nenhum filme cadastrado. Favor cadastrar um novo filme.
      </div>
      <<ng-template #loadingNoError>
        <span> Carregando filmes... </span>
      </ng-template>
    </ng-template>

    <ng-template #deleteModal>
      <div class="modal-body text-center">
        <p>Tem certeza que deseja deletar?</p>
        <button
          type="button"
          class="btn btn-default"
          (click)="onConfirmDelete()"
        >
          Sim
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onDeclineDelete()"
        >
          Não
        </button>
      </div>
    </ng-template>

    <ng-template #adicionarPersonagem>
      <div class="modal-body text-center">
        <app-personagem-form></app-personagem-form>
        <div style="margin-bottom: 15%; text-align: end;">
          <button
            style="margin-right: 15px"
            type="button"
            class="btn btn-primary"
            (click)="onSavePersonagem()"
          >
            Salvar Personagem
          </button>
          <button type="button" class="btn btn-default" style="margin-right: 15px;" (click)="onCancel()">
            Cancelar
          </button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
